<footer class="bg-light py-5" id="footer">
    <div
      class="d-flex flex-wrap justify-content-center pt-3 align-items-start border-none"
    >
      <div class="row-2 d-flex align-items-center">
          
        <a
          href="./"
          class="mx-4 text-body-secondary text-decoration-none lh-1"
        >
          <img
            src="./images/logo/logo-african-violet.png"
            width="55px"
            alt="cf-design"
          />
        </a>
        
          <span class="text-muted small"
            >© <%= new Date().getFullYear();%> Sweet Magnolia <br> Designed by
            <span>
              <a class="text-decoration-none" href="https://cfdesign.studio">CF Design</a></span
            ></span
          >
        </a>
      </div>
    </div>
  </footer>