<%- include("partials/header.ejs") %>
  <body>
    <%- include("partials/nav.ejs") %>

    <div class="pt-2 pb-5  hero-section shadow-lg">
      <div class="container py-5">
        <h1 class="display-1 hero-font">
          Sno-balls that reflect <strong class="font-primary hero-bold">your personality</strong>
        </h1>
        <p class="navy-font hero-secondary-font p-2">
          Sno-ball catering based on <strong>your style, your vision, and your budget.</strong>
        </p>
        <a class="text-decoration-none" href="/contact">
          <button
            class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill"
            type="button"
          >
            Request Catering
          </button></a
        >
      </div>
    </div>

    
  <div class="bg-dark">
    <div id="about" class="container col-xxl-8 px-4 py-3">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img
            src="./images/Sweet-Magnolia---About-Photo.png"
            class="d-block headshot mx-lg-auto img-fluid"
            alt="Person holding Sno-Ball with whip cream on top"
            width="75%"
            loading="lazy"
          />
        </div>
        <div class="col-lg-6">
          <h2 class="display-5 fw-bold font-light lh-1 mb-3">
            Your event is personal.
          </h2>
          <p class="lead font-light">
            Your catering company should reflect that.
          </p>
          <p class="lead font-light">
            We’ve all been there, you spend lots of time and energy trying to 
            create the perfect event… only for your event to feel the same as 
            every other event. How do you make your event stand out? How do you 
            create a moment that is talked about for years?
          </p>
          <p class="lead font-light">
            The answer is simple – <strong>serve sno-balls that are as unique as you!</strong>
          </p>
          <!-- <p class="lead font-light">
            Sweet Magnolia Ice is a sno-ball stand located directly in the heart
            of St. Rose, Louisiana. We have all of your favorite sno-ball
            flavors as well as many signature sno-ball creations that you have
            to try. Not craving a sno-ball? We have you covered too! We have
            lots of snacks including nachos, chicken tenders, hot dogs and we
            even serve ice cream and milkshakes. We can't wait to see you soon!
          </p> -->
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="/contact">
              <button
                type="button"
                class="btn btn-light btn-lg px-4 me-md-2 rounded-pill"
              >
                Request Catering
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container align-items-center py-5 my-3">
    <h2 class="text-center display-5 fw-bold navy-font lh-1 mb-3">We make your event <u class="font-primary">unforgettable</u>.</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="d-inline-flex align-items-center justify-content-center fs-2 mb-3">
          <img class="bi" src="./images/favicons/detail-icon@0.5x.png" alt="checklist icon" width="30pt">
        </div>
        <h3 class="fs-2 text-body-emphasis">We handle every detail.</h3>
        <p class="pb-2">Planning an event requires a lot of work. 
          Our team specializes in ensuring that you don't have to 
          worry about anything else. Simply show us where you want us 
          to setup and we will handle the rest. </p>
      </div>
      <div class="feature col">
        <div class="d-inline-flex align-items-center justify-content-center fs-2 mb-3">
          <img class="bi" src="./images/favicons/sno-ball-icon@0.5x.png" alt="checklist icon" width="30pt">
        </div>
        <h3 class="fs-2 text-body-emphasis">You choose the sno-balls.</h3>
        <p class="pb-2">Show off your creativity by working with our team to create your own custom sno-ball.
          Not sure what you like? Don't worry, we also have a wide selection of custom sno-balls
          that you can choose from.
        </p>
      </div>
      <div class="feature col">
        <div class="d-inline-flex align-items-center justify-content-center fs-2 mb-3">
          <img class="bi" src="./images/favicons/money-icon@0.5x.png" alt="checklist icon" width="30pt">
        </div>
        <h3 class="fs-2 text-body-emphasis">We work within your budget.</h3>
        <p class="pb-2">From small parties to large corporate events, 
          our flexible catering packages are designed to help you maximize your budget. 
          To view our packages, fill out our catering request form and a member 
          from our team will reach out.</p>
      </div>
    </div>
    <div class="text-centern justify-content-center align-items-center">
        <a class="text-decoration-none" href="/contact">
        <button
          class="d-grid gap-2 hero-bold col-6 mx-auto btn btn-primary btn-lg px-4 rounded-pill"
          type="button"
        >
          Request Catering
        </button></a
      >
    </div>
  </div>

  <section class="bg-dark position-relative py-5">
    <div id="carouselExampleIndicators" class="carousel slide pt-3 pb-5" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-lg-7 mx-auto text-center">
                <p class="lead text-white">"We’re not always in the position that we want to be at. We’re constantly growing. We’re constantly making mistakes. We’re constantly trying to express ourselves and actualize our dreams." </p>
                <div class="author justify-content-center">
                  <div class="name ps-2">
                    <span class="text-white">John Down</span>
                    <div class="stats">
                      <small class="text-white opacity-6"><br></small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-lg-7 mx-auto text-center">
                <p class="lead text-white">"We’re not always in the position that we want to be at. We’re constantly growing. We’re constantly making mistakes. We’re constantly trying to express ourselves and actualize our dreams."</p>
                <div class="author justify-content-center">
                  <div class="name ps-2">
                    <span class="text-white">Marcell Glock</span>
                    <div class="stats">
                      <small class="text-white opacity-6"><br></small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-lg-7 mx-auto text-center">
                <p class="lead text-white">"We’re not always in the position that we want to be at. We’re constantly growing. We’re constantly making mistakes. We’re constantly trying to express ourselves and actualize our dreams." </p>
                <div class="author justify-content-center">
                  <div class="name ps-2">
                    <span class="text-white">Mathew Goat</span>
                    <div class="stats">
                      <small class="text-white opacity-6"><br></small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


    <div class="container px-4 py-5" id="icon-grid">
      <h2 class="pb-2 border-bottom navy-font" id="services">Our Products</h2>

      <div
        class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-4 py-5"
      >
        <div class="col d-flex align-items-start">
          <img
            src="./images/favicons/restaurant_black_24dp-use.svg"
            alt="milkshake logo"
            class="bi text-muted flex-shrink-0 me-3"
            width="25pt"
          />
          <div>
            <h3 class="fw-bold mb-0 fs-4">Sno-balls</h3>
            <p>
              We do sno-balls right. From the softest ice you have ever had to
              our signature sno-balls that are so pretty that you can't help but
              share them on social media, you've got to try these.
            </p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <img
            src="./images/favicons/icecream_black_24dp.svg"
            alt="milkshake logo"
            class="bi text-muted flex-shrink-0 me-3"
            width="25pt"
          />
          <div>
            <h3 class="fw-bold mb-0 fs-4">Ice Cream</h3>
            <p>
              You can't have a sno-ball stand in Louisiana without ice cream.
              Get your sno-ball stufed with the ice cream flavor of your choice
              or put it in a cone and cool off from the hot summer days.
            </p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <img
            src="./images/favicons/cake_black_24dp.svg"
            alt="milkshake logo"
            class="bi text-muted flex-shrink-0 me-3"
            width="25pt"
          />
          <div>
            <h3 class="fw-bold mb-0 fs-4">Milkshakes</h3>
            <p>
              Not into sno-balls? We have you covered! Be sure to try one of our
              signature milkshakes!
            </p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <img
            src="./images/favicons/food.svg"
            alt="milkshake logo"
            class="bi text-muted flex-shrink-0 me-3"
            width="25pt"
          />
          <div>
            <h3 class="fw-bold mb-0 fs-4">Snacks</h3>
            <p>
              Nachos, Fries, Chicken Tenders, and more! Sweet Magnolia is the
              perfect place for dinner and dessert.
            </p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <img
            src="./images/favicons/local_drink_black_24dp.svg"
            alt="milkshake logo"
            class="bi text-muted flex-shrink-0 me-3"
            width="25pt"
          />
          <div>
            <h3 class="fw-bold mb-0 fs-4">Fresh Lemonade</h3>
            <p>
              Nothing beats a hot summer day like some fresh-squeezed lemonade!
            </p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <img
            src="./images/favicons/delivery_dining_black_24dp.svg"
            alt="milkshake logo"
            class="bi text-muted flex-shrink-0 me-3"
            width="25pt"
          />
          <div>
            <a class="navy-font text-decoration-none" href="/contact"><h3 class="fw-bold mb-0 fs-4">On-Site Catering</h3></a>
            <p>
              Book Sweet Magnolia for your next party today! When you cater with
              us your guests are guaranteed to talk about it for years to come.
            </p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container">
    <div class="elfsight-app-34a01e95-17c3-4ea1-9da0-ab18f518ad9e"></div>
  </div>

  <div class="container">
    <div class="ms-5">
      <div class= "elfsight-app-7cbca5f3-a7ce-4ac3-b5e3-66554f961e79">
      </div>
    </div>
  </div>

<%- include("partials/footer.ejs") %>


    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
