<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Catering Request Form</title>
    <%- include("partials/header.ejs") %>
  </head>

  <body>
    <%- include("partials/nav.ejs") %>

    <div class="containter py-5 px-3">
      <div class="py-2">
        <div class="elfsight-app-a6efb9e3-4a03-4443-b1f5-052a2789b3df"></div>
      </div>
    </div>

    <%- include("partials/footer.ejs") %>

    <script
      src="https://static.elfsight.com/platform/platform.js"
      data-use-service-core
      defer
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
